@inherits TestComponentBase

<SnapshotTest Description="HelloWorld should render correctly using Snapshot">
    <TestInput>
        <HelloWorld Name="Twitch" />
    </TestInput>
    <ExpectedOutput>
        <h1>Hello world from Twitch!</h1>
    </ExpectedOutput>
</SnapshotTest>